@tailwind base;
@tailwind components;
@tailwind utilities;
@mdi /font/css/materialdesignicons.css;

@layer components {
  table {
    @apply min-w-full border border-light-gray-300 shadow-table-shadow overflow-hidden border-separate border-spacing-0 rounded-lg;
  }
  
  table thead {
    @apply bg-light-gray-50; /* Apply background color only */
  }

  table thead tr {
    @apply h-[36px] ; /* Add border to the bottom of the thead tr */
  }

  th {
    @apply h-[36px] text-sm font-semibold	 text-dark-gray-950 px-6 py-4 text-left border-b border-light-gray-200; 
  }

  table tbody tr {
    @apply hover:bg-gray-50 bg-white text-dark-gray-950   border-b border-light-gray-200;
  }


  table td {
    @apply text-sm font-medium text-gray-900 px-6 py-4 whitespace-nowrap border-b border-light-gray-200;
  }
}

/* Additional global styles */
i {
  color: #A1A1AA;
  font-size: 24px;
  font-weight: 200;
}
